
body {
    
    background-color:rgb(95, 158, 160);
    
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}
section {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(245, 245, 220, 0.438);
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
}

img {
    
   
    
}